# Kaggle : Airbnb New User Bookings

In [ ]:
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mglearn
import seaborn as sns

%matplotlib inline

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

# data

# sessions

In [ ]:
#10M data
sessions = pd.read_csv("~/Documents/data/airbnb/sessions.csv")
sessions.head()

In [ ]:
sessions.isnull().sum()

In [ ]:
#359 action type
sessions['action'].value_counts()

In [ ]:
#155 action detail
sessions['action_detail'].value_counts()

In [ ]:
#10 action type
sessions['action_type'].value_counts()

In [ ]:
# sns.distplot(sessions['secs_elapsed']);
# plt.show()

# age_gender_bkts

In [ ]:
#21 age bucket (5 years) per gender by country
#1K unit
age_gender = pd.read_csv("~/Documents/data/airbnb/age_gender_bkts.csv")
age_gender.head()

In [ ]:
age_gender.info()

# countries (destination)

In [ ]:
#AU = austrailia
#CA = canada
#DE = germany
#ES = spain
#FR = france
#GB = england
#IT = italia
#NL = netherland 
#PT = Portugal
#US = USA

countries = pd.read_csv("~/Documents/data/airbnb/countries.csv")
countries

In [ ]:
countries['country_destination'].value_counts()

# submission

In [ ]:
# submission = pd.read_csv("~/Documents/data/airbnb/sample_submission_NDF.csv")
# submission.head()

In [ ]:
# submission.info()

# test

In [ ]:
test = pd.read_csv("~/Documents/data/airbnb/test_users.csv")
test.head()

In [ ]:
test.isnull().sum()

# train

In [ ]:
train = pd.read_csv("~/Documents/data/airbnb/train_users_2.csv")
train.head()

In [ ]:
train.isnull().sum()

# drop date_first_booking column

In [ ]:
train = train.drop(labels=['date_first_booking'], axis=1)
test = test.drop(labels=['date_first_booking'], axis=1)

# first_affiliate_tracked nan data manipulation

In [ ]:
train['first_affiliate_tracked'] = train.first_affiliate_tracked.replace(np.nan, "untracked")
test['first_affiliate_tracked'] = test.first_affiliate_tracked.replace(np.nan, "untracked")

# age

In [ ]:
print(len(train[train['age'] > 120]))

In [ ]:
train[train['age'] > 120]

In [ ]:
train_copy = train.copy()
train_copy = train_copy[train_copy['age'] <= 120]
train_copy.isnull().sum()

In [ ]:
train_copy = train.copy()
train_copy = train_copy.dropna()
train_copy = train_copy[train_copy['age'] <= 120]

ax1 = sns.distplot(train_copy['age'])
plt.show()
ax2 = sns.boxplot(x = train_copy['country_destination'], y = train_copy['age'], data = train_copy)
plt.show()
# ax3 = sns.swarmplot(x = train_copy['country_destination'], y = train_copy['age'], data = train_copy)
# plt.show()

# age nan value manipulation

- DBSCAN
- heatmap age vs related features

In [ ]:
# table = pivot_table(train, values='age', columns=['gender', 'signup_method', 'affiliate_provider', 'signup_app'])

In [ ]:
train_copy.describe()

In [ ]:
# #data type convert
# train_test["date_account_created"] =  pd.to_datetime(train_test["date_account_created"])
# train_test["date_first_booking"] =  pd.to_datetime(train_test["date_first_booking"])

# train_test["date_first_booking"] =  pd.to_datetime(train_test["date_first_booking"])
# train_test.info()

In [ ]:
# train_test = train_test.fillna(0)
# train_test.info()

In [ ]:
# vals = train_test.values
# X = vals[:piv_train]
# le = LabelEncoder()
# y = le.fit_transform(labels)   
# X_test = vals[piv_train:]

# random forest regression

In [52]:
import numpy as np

from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.model_selection import cross_val_score

rng = np.random.RandomState(0)

dataset = load_boston()
X_full, y_full = dataset.data, dataset.target
n_samples = X_full.shape[0]
n_features = X_full.shape[1]

# Estimate the score on the entire dataset, with no missing values
estimator = RandomForestRegressor(random_state=0, n_estimators=100)
score = cross_val_score(estimator, X_full, y_full).mean()
print("Score with the entire dataset = %.2f" % score)

# Add missing values in 75% of the lines
missing_rate = 0.75
n_missing_samples = int(np.floor(n_samples * missing_rate))
missing_samples = np.hstack((np.zeros(n_samples - n_missing_samples,
                                      dtype=np.bool),
                             np.ones(n_missing_samples,
                                     dtype=np.bool)))
rng.shuffle(missing_samples)
missing_features = rng.randint(0, n_features, n_missing_samples)

# Estimate the score without the lines containing missing values
X_filtered = X_full[~missing_samples, :]
y_filtered = y_full[~missing_samples]
estimator = RandomForestRegressor(random_state=0, n_estimators=100)
score = cross_val_score(estimator, X_filtered, y_filtered).mean()
print("Score without the samples containing missing values = %.2f" % score)

# Estimate the score after imputation of the missing values
X_missing = X_full.copy()
X_missing[np.where(missing_samples)[0], missing_features] = 0
y_missing = y_full.copy()
estimator = Pipeline([("imputer", Imputer(missing_values=0,
                                          strategy="mean",
                                          axis=0)),
                      ("forest", RandomForestRegressor(random_state=0,
                                                       n_estimators=100))])
score = cross_val_score(estimator, X_missing, y_missing).mean()
print("Score after imputation of the missing values = %.2f" % score)

Score with the entire dataset = 0.56
Score without the samples containing missing values = 0.48
Score after imputation of the missing values = 0.57

In [ ]:
X_full1 = train.drop(labels=['age'], axis=1)
y_full1 = train['age']

In [ ]:
rng = np.random.RandomState(0)

dataset = load_boston()
X_full, y_full = dataset.data, dataset.target
n_samples = X_full.shape[0]
n_features = X_full.shape[1]

# Estimate the score on the entire dataset, with no missing values
estimator = RandomForestRegressor(random_state=0, n_estimators=100)
score = cross_val_score(estimator, X_full, y_full).mean()
print("Score with the entire dataset = %.2f" % score)

# Add missing values in 75% of the lines
missing_rate = 0.75
n_missing_samples = int(np.floor(n_samples * missing_rate))
missing_samples = np.hstack((np.zeros(n_samples - n_missing_samples,
                                      dtype=np.bool),
                             np.ones(n_missing_samples,
                                     dtype=np.bool)))
rng.shuffle(missing_samples)
missing_features = rng.randint(0, n_features, n_missing_samples)

# Estimate the score without the lines containing missing values
X_filtered = X_full[~missing_samples, :]
y_filtered = y_full[~missing_samples]
estimator = RandomForestRegressor(random_state=0, n_estimators=100)
score = cross_val_score(estimator, X_filtered, y_filtered).mean()
print("Score without the samples containing missing values = %.2f" % score)

# Estimate the score after imputation of the missing values
X_missing = X_full.copy()
X_missing[np.where(missing_samples)[0], missing_features] = 0
y_missing = y_full.copy()
estimator = Pipeline([("imputer", Imputer(missing_values=0,
                                          strategy="mean",
                                          axis=0)),
                      ("forest", RandomForestRegressor(random_state=0,
                                                       n_estimators=100))])
score = cross_val_score(estimator, X_missing, y_missing).mean()
print("Score after imputation of the missing values = %.2f" % score)

In [ ]:
# train_1 = train.drop(['country_destination'], axis=1)
# train_1.info()

In [ ]:
# y = train['country_destination']

In [ ]:
# X, y = make_regression(n_features=4, n_informative=2, random_state=0, shuffle=False)
# regr = RandomForestRegressor(max_depth=2, random_state=0)
# regr.fit(train_1, y)

# print(regr.feature_importances_)
# print(regr.predict([[0, 0, 0, 0]]))

# XGBoost

In [ ]:
import xgboost as xgb

In [ ]:
train_test.info()

In [ ]:
data = np.random.rand(5, 10)  # 5 entities, each contains 10 features
label = np.random.randint(2, size=5)  # binary target
dtrain = xgb.DMatrix(data, label=label)

In [ ]:
dtrain = xgb.DMatrix(train_test, missing=-999.0)

# nueral network

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)

In [ ]:
clf.fit(train, train_no_target)

In [335]:
import pandas as pd

In [336]:
df_train = pd.read_csv("~/Documents/data/airbnb/train_users_2.csv")
df_test = pd.read_csv("~/Documents/data/airbnb/test_users.csv")
df_all = pd.concat([df_train, df_test])

In [337]:
y_destination = df_train["country_destination"]

In [338]:
# df_all = df_all.drop("age", axis = 1)
df_all = df_all.drop("date_first_booking", axis = 1)

In [339]:
df_all["first_affiliate_tracked"].fillna("untracked", inplace = True)

In [340]:
df_all["date_account_created"] = pd.to_datetime(df_all["date_account_created"], format = "%Y-%m-%d")

In [341]:
df_all["timestamp_first_active"] = pd.to_datetime(df_all["timestamp_first_active"], format="%Y%m%d%H%M%S", errors='ignore')

In [342]:
df_all["ac_year"] = df_all["date_account_created"].apply(lambda x : x.year)
df_all["ac_month"] = df_all["date_account_created"].apply(lambda x : x.month)
df_all["ac_day"] = df_all["date_account_created"].apply(lambda x : x.day)

In [343]:
df_all["fa_year"] = df_all["timestamp_first_active"].apply(lambda x : x.year)
df_all["fa_month"] = df_all["timestamp_first_active"].apply(lambda x : x.month)
df_all["fa_day"] = df_all["timestamp_first_active"].apply(lambda x : x.day)
df_all["fa_hour"] = df_all["timestamp_first_active"].apply(lambda x : x.hour)
df_all["fa_minute"] = df_all["timestamp_first_active"].apply(lambda x : x.minute)
df_all["fa_second"] = df_all["timestamp_first_active"].apply(lambda x : x.second)

In [344]:
df_all = df_all.drop("date_account_created", axis = 1)
df_all = df_all.drop("timestamp_first_active", axis = 1)
df_all = df_all.drop("country_destination", axis = 1)

In [345]:
df_all = df_all.sort_values(by='age', na_position='first').reset_index(drop=True)
df_all.isnull().sum()

affiliate_channel               0
affiliate_provider              0
age                        116866
first_affiliate_tracked         0
first_browser                   0
first_device_type               0
gender                          0
id                              0
language                        0
signup_app                      0
signup_flow                     0
signup_method                   0
ac_year                         0
ac_month                        0
ac_day                          0
fa_year                         0
fa_month                        0
fa_day                          0
fa_hour                         0
fa_minute                       0
fa_second                       0
dtype: int64

In [346]:
df_all.head()

,affiliate_channel,affiliate_provider,age,first_affiliate_tracked,first_browser,first_device_type,gender,id,language,signup_app,...,signup_method,ac_year,ac_month,ac_day,fa_year,fa_month,fa_day,fa_hour,fa_minute,fa_second
0,direct,direct,NaN,untracked,Chrome,Mac Desktop,-unknown-,gxn3p5htnn,en,Web,...,facebook,2010,6,28,2009,3,19,4,32,55
1,other,other,NaN,omg,Chrome,Mac Desktop,-unknown-,osr2jwljor,en,Web,...,basic,2010,1,1,2010,1,1,21,56,19
2,direct,direct,NaN,untracked,-unknown-,Other/Unknown,-unknown-,k6np330cm1,en,Web,...,basic,2010,1,5,2010,1,5,6,8,59
3,other,craigslist,NaN,untracked,-unknown-,Other/Unknown,-unknown-,2dwbwkx056,en,Web,...,basic,2010,1,7,2010,1,7,21,51,25
4,seo,facebook,NaN,untracked,-unknown-,Other/Unknown,-unknown-,cxlg85pg1r,en,Web,...,basic,2010,1,8,2010,1,8,1,56,41

In [347]:
df_target = df_all.iloc[116866: , 2].astype('int')
len(df_target)

158681

In [348]:
df_target

116866       1
116867       1
116868       1
116869       1
116870       2
116871       2
116872       2
116873       2
116874       2
116875       2
116876       2
116877       4
116878       4
116879       4
116880       5
116881       5
116882       5
116883       5
116884       5
116885       5
116886       5
116887       5
116888       5
116889       5
116890       5
116891       5
116892       5
116893       5
116894       5
116895       5
          ...
275517    2014
275518    2014
275519    2014
275520    2014
275521    2014
275522    2014
275523    2014
275524    2014
275525    2014
275526    2014
275527    2014
275528    2014
275529    2014
275530    2014
275531    2014
275532    2014
275533    2014
275534    2014
275535    2014
275536    2014
275537    2014
275538    2014
275539    2014
275540    2014
275541    2014
275542    2014
275543    2014
275544    2014
275545    2014
275546    2014
Name: age, Length: 158681, dtype: int64

In [349]:
df_all = df_all.drop("age", axis = 1)

In [350]:
df_all = df_all.drop("id", axis = 1)

In [351]:
df_all = pd.get_dummies(df_all)

In [352]:
df_train = df_all.iloc[116866:]
df_test = df_all.iloc[:116866]

In [353]:
df_train.shape, df_test.shape

((158681, 145), (116866, 145))

In [354]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [355]:
y = df_target
X = df_train
X_test = df_test

In [356]:
y.head()

116866    1
116867    1
116868    1
116869    1
116870    2
Name: age, dtype: int64

In [357]:
>>> from sklearn.datasets import load_boston
>>> from sklearn.model_selection import cross_val_score
>>> from sklearn.tree import DecisionTreeRegressor

In [358]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

In [359]:
models_r = RandomForestClassifier(max_depth=2)
models_r.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [360]:
y_pred_r = models_r.predict(X_test).astype('int')

In [361]:
aaa_r = pd.DataFrame(y_pred_r)

In [362]:
regressor_d = DecisionTreeRegressor(random_state=0, max_depth=2)

In [363]:
regressor_d.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=2, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [364]:
y_pred_d = regressor_d.predict(X_test).astype('int')

In [365]:
aaa_d = pd.DataFrame(y_pred_d)

In [366]:
len(y_pred_d), len(y_pred_r)

(116866, 116866)

In [367]:
aaa_r.describe()

                   0
count  116866.000000
mean       29.342700
std         1.140657
min        27.000000
25%        28.000000
50%        30.000000
75%        30.000000
max        32.000000

In [368]:
aaa_d.describe()

                   0
count  116866.000000
mean       52.852267
std        10.081657
min        34.000000
25%        44.000000
50%        44.000000
75%        64.000000
max        64.000000

In [371]:
y_pred_r = pd.DataFrame(y_pred_r, columns=["age"], index=range(len(y_pred_r)))
df_target = pd.DataFrame(df_target)

In [372]:
y_pred_r.tail()

        age
116861   28
116862   28
116863   30
116864   28
116865   31

In [373]:
y_pred_r.tail()

        age
116861   28
116862   28
116863   30
116864   28
116865   31

In [374]:
df_target.

         age
275542  2014
275543  2014
275544  2014
275545  2014
275546  2014

In [375]:
age = pd.concat([y_pred_r, df_target], ignore_index=True)
# age = age.drop(labels='age', axis=1)

In [376]:
age.isnull().sum()

age    0
dtype: int64

In [378]:
age.isnull().sum()

age    0
dtype: int64

In [379]:
len(age)

275547

In [380]:
df_all['age'] = age

In [381]:
df_all.head()

,signup_flow,ac_year,ac_month,ac_day,fa_year,fa_month,fa_day,fa_hour,fa_minute,fa_second,...,language_zh,signup_app_Android,signup_app_Moweb,signup_app_Web,signup_app_iOS,signup_method_basic,signup_method_facebook,signup_method_google,signup_method_weibo,age
0,0,2010,6,28,2009,3,19,4,32,55,...,0,0,0,1,0,0,1,0,0,30
1,0,2010,1,1,2010,1,1,21,56,19,...,0,0,0,1,0,1,0,0,0,31
2,0,2010,1,5,2010,1,5,6,8,59,...,0,0,0,1,0,1,0,0,0,30
3,0,2010,1,7,2010,1,7,21,51,25,...,0,0,0,1,0,1,0,0,0,30
4,0,2010,1,8,2010,1,8,1,56,41,...,0,0,0,1,0,1,0,0,0,30

In [382]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275547 entries, 0 to 275546
Columns: 146 entries, signup_flow to age
dtypes: int64(11), uint8(135)
memory usage: 58.6 MB

In [383]:
df_all.isnull().sum()

signup_flow                               0
ac_year                                   0
ac_month                                  0
ac_day                                    0
fa_year                                   0
fa_month                                  0
fa_day                                    0
fa_hour                                   0
fa_minute                                 0
fa_second                                 0
affiliate_channel_api                     0
affiliate_channel_content                 0
affiliate_channel_direct                  0
affiliate_channel_other                   0
affiliate_channel_remarketing             0
affiliate_channel_sem-brand               0
affiliate_channel_sem-non-brand           0
affiliate_channel_seo                     0
affiliate_provider_baidu                  0
affiliate_provider_bing                   0
affiliate_provider_craigslist             0
affiliate_provider_daum                   0
affiliate_provider_direct                 0
affiliate_provider_email-marketing        0
affiliate_provider_facebook               0
affiliate_provider_facebook-open-graph    0
affiliate_provider_google                 0
affiliate_provider_gsp                    0
affiliate_provider_meetup                 0
affiliate_provider_naver                  0
                                         ..
language_el                               0
language_en                               0
language_es                               0
language_fi                               0
language_fr                               0
language_hr                               0
language_hu                               0
language_id                               0
language_is                               0
language_it                               0
language_ja                               0
language_ko                               0
language_nl                               0
language_no                               0
language_pl                               0
language_pt                               0
language_ru                               0
language_sv                               0
language_th                               0
language_tr                               0
language_zh                               0
signup_app_Android                        0
signup_app_Moweb                          0
signup_app_Web                            0
signup_app_iOS                            0
signup_method_basic                       0
signup_method_facebook                    0
signup_method_google                      0
signup_method_weibo                       0
age                                       0
Length: 146, dtype: int64

In [384]:
df_train1 = df_all.iloc[:213451]
df_test1 = df_all.iloc[213451:]

In [385]:
df_train1.isnull().sum()

signup_flow                               0
ac_year                                   0
ac_month                                  0
ac_day                                    0
fa_year                                   0
fa_month                                  0
fa_day                                    0
fa_hour                                   0
fa_minute                                 0
fa_second                                 0
affiliate_channel_api                     0
affiliate_channel_content                 0
affiliate_channel_direct                  0
affiliate_channel_other                   0
affiliate_channel_remarketing             0
affiliate_channel_sem-brand               0
affiliate_channel_sem-non-brand           0
affiliate_channel_seo                     0
affiliate_provider_baidu                  0
affiliate_provider_bing                   0
affiliate_provider_craigslist             0
affiliate_provider_daum                   0
affiliate_provider_direct                 0
affiliate_provider_email-marketing        0
affiliate_provider_facebook               0
affiliate_provider_facebook-open-graph    0
affiliate_provider_google                 0
affiliate_provider_gsp                    0
affiliate_provider_meetup                 0
affiliate_provider_naver                  0
                                         ..
language_el                               0
language_en                               0
language_es                               0
language_fi                               0
language_fr                               0
language_hr                               0
language_hu                               0
language_id                               0
language_is                               0
language_it                               0
language_ja                               0
language_ko                               0
language_nl                               0
language_no                               0
language_pl                               0
language_pt                               0
language_ru                               0
language_sv                               0
language_th                               0
language_tr                               0
language_zh                               0
signup_app_Android                        0
signup_app_Moweb                          0
signup_app_Web                            0
signup_app_iOS                            0
signup_method_basic                       0
signup_method_facebook                    0
signup_method_google                      0
signup_method_weibo                       0
age                                       0
Length: 146, dtype: int64

In [386]:
y1 = y_destination
X1 = df_train1
X_test1 = df_test1

In [398]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [399]:
models_r = LinearDiscriminantAnalysis(n_components=3, solver='svd', store_covariance=True).fit(X1, y1)
# models_r.fit(X1, y1)

/home/jk/.local/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:442: UserWarning: The priors do not sum to 1. Renormalizing
  UserWarning)
/home/jk/.local/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [400]:
y_total1 = models_r.predict(X_test1)

In [401]:
len(y_total1)

62096

In [402]:
y_total1_df = pd.DataFrame(y_total1)
y_total1_df.tail()

        0
62091  PT
62092  PT
62093  PT
62094  PT
62095  PT

In [403]:
y_total1_df[0].value_counts()

NDF      61146
PT         868
US          14
other       14
NL          13
IT          12
DE          12
CA           8
ES           7
FR           1
GB           1
Name: 0, dtype: int64

In [404]:
import xgboost
from xgboost.sklearn import XGBClassifier

In [406]:
x = X1
y = y1

In [407]:
odels_xgb = XGBClassifier().fit(x, y)
# models_r.fit(X1, y1)

In [410]:
y_XGB = odels_xgb.predict(X_test1)

/home/jk/.local/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [413]:
y_XGB11 = pd.DataFrame(y_XGB)
y_XGB11.tail()

         0
62091  NDF
62092  NDF
62093  NDF
62094  NDF
62095  NDF

In [414]:
y_XGB11[0].value_counts()

NDF    62096
Name: 0, dtype: int64