# Kaggle : Airbnb New User Bookings

In [1]:
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

# data

# sessions

In [58]:
#10M data
sessions = pd.read_csv("data/sessions.csv")
sessions.head(15)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0
5,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,7703.0
6,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,115.0
7,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,831.0
8,d1mm9tcy42,index,view,view_search_results,Windows Desktop,20842.0
9,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,683.0
10,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,59274.0
11,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,95.0
12,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1399.0
13,d1mm9tcy42,index,view,view_search_results,Windows Desktop,74886.0
14,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,255.0

In [4]:
sessions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10567737 entries, 0 to 10567736
Data columns (total 6 columns):
user_id          object
action           object
action_type      object
action_detail    object
device_type      object
secs_elapsed     float64
dtypes: float64(1), object(5)
memory usage: 483.8+ MB

In [5]:
sessions.isnull().sum()

user_id            34496
action             79626
action_type      1126204
action_detail    1126204
device_type            0
secs_elapsed      136031
dtype: int64

In [6]:
#359 action type
sessions['action'].value_counts()

show                         2768278
index                         843699
search_results                725226
personalize                   706824
search                        536057
ajax_refresh_subtotal         487744
update                        365130
similar_listings              364624
social_connections            339000
reviews                       320591
active                        188036
similar_listings_v2           168788
lookup                        162041
create                        155887
dashboard                     152952
header_userpic                141830
collections                   124417
edit                          109083
campaigns                     105028
track_page_view                81117
unavailabilities               78317
qt2                            64651
notifications                  59392
confirm_email                  58726
requested                      57034
identity                       53631
ajax_check_dates               52517
show_personalize               50434
ask_question                   44063
listings                       43656
                              ...
special_offer                      2
use_mobile_site                    2
recommendation_page                2
rest-of-world                      2
accept_decline                     2
refund_guest_cancellation          2
report                             2
sandy                              2
views_campaign_rules               2
friend_listing                     2
confirmation                       2
unsubscribe                        2
south-america                      2
views_campaign                     2
preapproval                        2
revert_to_admin                    1
deactivated                        1
deactivate                         1
wishlists                          1
update_message                     1
sldf                               1
nyan                               1
events                             1
plaxo_cb                           1
desks                              1
set_minimum_payout_amount          1
acculynk_bin_check_failed          1
reactivate                         1
deauthorize                        1
host_cancel                        1
Name: action, Length: 359, dtype: int64

In [7]:
sessions['action_type'].value_counts()

view                3560902
data                2103770
click               1996183
-unknown-           1031170
submit               623357
message_post          87103
partner_callback      19132
booking_request       18773
modify                 1139
booking_response          4
Name: action_type, dtype: int64

In [8]:
#155 action detail
sessions['action_detail'].value_counts()

view_search_results               1776885
p3                                1376550
-unknown-                         1031141
wishlist_content_update            706824
user_profile                       656839
change_trip_characteristics        487744
similar_listings                   364624
user_social_connections            336799
update_listing                     269779
listing_reviews                    269021
dashboard                          152952
user_wishlists                     152672
header_userpic                     141830
message_thread                     132395
edit_profile                       108686
message_post                        87103
contact_host                        81041
unavailable_dates                   77795
confirm_email_link                  58422
create_user                         54878
change_contact_host_dates           52517
user_profile_content_update         50434
user_reviews                        49665
p5                                  48167
login                               38378
your_trips                          38195
p1                                  37976
notifications                       37355
profile_verifications               33434
reservations                        32481
                                   ...
share                                 160
view_security_checks                  135
remove_dashboard_alert                114
delete_listing                        112
place_worth                           108
create_payment_instrument              86
complete_booking                       75
view_identity_verifications            57
calculate_worth                        56
change_availability                    42
alteration_request                     42
view_resolutions                       42
view_user_real_names                   38
create_alteration_request              27
phone_numbers                          27
view_ghosting_reasons                  19
set_default_payment_instrument         19
view_ghostings                         19
homepage                               15
respond_to_alteration_request          11
deactivate_user_account                 9
delete_payment_instrument               6
delete_listing_description              6
booking                                 4
host_respond                            4
special_offer_field                     3
host_refund_guest                       2
host_respond_page                       2
tos_2014                                2
host_standard_suspension                1
Name: action_detail, Length: 155, dtype: int64

In [9]:
sessions['secs_elapsed'].describe()

count    1.043171e+07
mean     1.940581e+04
std      8.888424e+04
min      0.000000e+00
25%      2.290000e+02
50%      1.147000e+03
75%      8.444000e+03
max      1.799977e+06
Name: secs_elapsed, dtype: float64

# age_gender_bkts

In [10]:
#21 age bucket (5 years) per gender by country
#1K unit
age_gender = pd.read_csv("data/age_gender_bkts.csv")
age_gender.head()

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0
1      95-99                  AU   male                      9.0  2015.0
2      90-94                  AU   male                     47.0  2015.0
3      85-89                  AU   male                    118.0  2015.0
4      80-84                  AU   male                    199.0  2015.0

In [11]:
age_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 5 columns):
age_bucket                 420 non-null object
country_destination        420 non-null object
gender                     420 non-null object
population_in_thousands    420 non-null float64
year                       420 non-null float64
dtypes: float64(2), object(3)
memory usage: 16.5+ KB

# countries (destination)

- AU = austrailia
- CA = canada
- DE = germany
- ES = spain
- FR = france
- GB = england
- IT = italia
- NL = netherland 
- PT = Portugal
- US = USA

In [12]:
countries = pd.read_csv("data/countries.csv")
countries

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06
5,GB,54.633220,-3.432277,6883.6590,243610.0,eng,0.00
6,IT,41.873990,12.564167,8636.6310,301340.0,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543.0,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090.0,por,95.45
9,US,36.966427,-95.844030,0.0000,9826675.0,eng,0.00

In [13]:
countries['country_destination'].value_counts()

ES    1
FR    1
AU    1
CA    1
US    1
NL    1
IT    1
GB    1
DE    1
PT    1
Name: country_destination, dtype: int64

# submission

In [ ]:
# submission = pd.read_csv("data/sample_submission_NDF.csv")
# submission.head()

In [ ]:
# submission.info()

# test

In [ ]:
test = pd.read_csv("data/test_users.csv")
test.head()

In [ ]:
test.isnull().sum()

# train

In [ ]:
train = pd.read_csv("data/train_users_2.csv")
train.head()

In [ ]:
train.isnull().sum()

# drop date_first_booking column

In [ ]:
train = train.drop(labels=['date_first_booking'], axis=1)
test = test.drop(labels=['date_first_booking'], axis=1)

# first_affiliate_tracked nan data manipulation

In [ ]:
train['first_affiliate_tracked'] = train.first_affiliate_tracked.replace(np.nan, "untracked")
test['first_affiliate_tracked'] = test.first_affiliate_tracked.replace(np.nan, "untracked")

# age

In [ ]:
print(len(train[train['age'] > 120]))

In [ ]:
train[train['age'] > 120]

In [ ]:
train_copy = train.copy()
train_copy = train_copy[train_copy['age'] <= 120]
train_copy.isnull().sum()

In [ ]:
train_copy = train.copy()
train_copy = train_copy.dropna()
train_copy = train_copy[train_copy['age'] <= 120]

ax1 = sns.distplot(train_copy['age'])
plt.show()
ax2 = sns.boxplot(x = train_copy['country_destination'], y = train_copy['age'], data = train_copy)
plt.show()
# ax3 = sns.swarmplot(x = train_copy['country_destination'], y = train_copy['age'], data = train_copy)
# plt.show()

# age nan value manipulation

- DBSCAN
- heatmap age vs related features

# pre processing

In [2]:
import pandas as pd

In [3]:
df_sample = pd.read_csv('data/sample_submission_NDF.csv')

In [4]:
df_train = pd.read_csv("data/train_users_2.csv")
df_test = pd.read_csv("data/test_users.csv")
df_all = pd.concat([df_train, df_test])

In [5]:
df_target = df_train["country_destination"]
df_values = df_train["country_destination"].values

In [6]:
df_all = df_all.drop("age", axis = 1)
df_all = df_all.drop("date_first_booking", axis = 1)

In [7]:
df_all["first_affiliate_tracked"].fillna("untracked", inplace = True)

In [8]:
df_all.isnull().sum()

affiliate_channel              0
affiliate_provider             0
country_destination        62096
date_account_created           0
first_affiliate_tracked        0
first_browser                  0
first_device_type              0
gender                         0
id                             0
language                       0
signup_app                     0
signup_flow                    0
signup_method                  0
timestamp_first_active         0
dtype: int64

In [9]:
df_all["date_account_created"] = pd.to_datetime(df_all["date_account_created"], format = "%Y-%m-%d")

In [10]:
df_all["timestamp_first_active"] = pd.to_datetime(df_all["timestamp_first_active"], format="%Y%m%d%H%M%S", errors='ignore')

In [11]:
df_all["ac_year"] = df_all["date_account_created"].apply(lambda x : x.year)
df_all["ac_month"] = df_all["date_account_created"].apply(lambda x : x.month)
df_all["ac_day"] = df_all["date_account_created"].apply(lambda x : x.day)

In [12]:
df_all["fa_year"] = df_all["timestamp_first_active"].apply(lambda x : x.year)
df_all["fa_month"] = df_all["timestamp_first_active"].apply(lambda x : x.month)
df_all["fa_day"] = df_all["timestamp_first_active"].apply(lambda x : x.day)
df_all["fa_hour"] = df_all["timestamp_first_active"].apply(lambda x : x.hour)
df_all["fa_minute"] = df_all["timestamp_first_active"].apply(lambda x : x.minute)
df_all["fa_second"] = df_all["timestamp_first_active"].apply(lambda x : x.second)

In [13]:
df_all = df_all.drop("date_account_created", axis = 1)
df_all = df_all.drop("timestamp_first_active", axis = 1)
df_all = df_all.drop("country_destination", axis = 1)

In [14]:
df_all = df_all.drop("id", axis = 1)

In [15]:
df_all = pd.get_dummies(df_all)

In [16]:
df_train = df_all.iloc[:213451]
df_test = df_all.iloc[213451:]

In [17]:
df_train.shape, df_test.shape, df_target.shape

((213451, 145), (62096, 145), (213451,))

In [18]:
df_target.value_counts()

NDF      124543
US        62376
other     10094
FR         5023
IT         2835
GB         2324
ES         2249
CA         1428
DE         1061
NL          762
AU          539
PT          217
Name: country_destination, dtype: int64

In [19]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
y_label = le.fit_transform(df_target)

In [39]:
y_label

array([ 7,  7, 10, ...,  7,  7,  7])

# age column

In [112]:
test_age = pd.read_csv("last_test_data.csv")
train_age = pd.read_csv("last_train_data.csv")

test_age = test_age['age']
train_age = train_age['age']

In [113]:
train_age.head(), len(train_age)

(0    45.0
 1    38.0
 2    56.0
 3    42.0
 4    41.0
 Name: age, dtype: float64, 213451)

In [114]:
test_age.head(), len(test_age)

(0    35.0
 1    45.0
 2    30.0
 3    45.0
 4    30.0
 Name: age, dtype: float64, 62096)

In [115]:
df_train = pd.concat([df_train, train_age], axis=1)
df_test = pd.concat([df_test, test_age], axis=1)

df_train.info(), df_test.info(),

<class 'pandas.core.frame.DataFrame'>
Int64Index: 213451 entries, 0 to 213450
Columns: 146 entries, signup_flow to age
dtypes: float64(1), int64(10), uint8(135)
memory usage: 47.0 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 62096 entries, 0 to 62095
Columns: 146 entries, signup_flow to age
dtypes: float64(1), int64(10), uint8(135)
memory usage: 13.7 MB

(None, None)

# age clustering

In [39]:
# df_all = pd.concat([df_train, df_test], axis=0)
# df_all.head()

In [40]:
# def pre_age_predict_data_cat():
    
#     bins = [0, 15, 25, 35, 60, 9999]
#     labels = ["미성년자", "청년", "중년", "장년", "노년"]
#     cats = pd.cut(df_all['age'], bins, labels=labels)
#     cats = pd.DataFrame(cats)
    
#     return cats

# cats=pre_age_predict_data_cat()

# cats_d = pd.get_dummies(cats)

# len(cats_d)

In [41]:
# train_cat = cats_d[:213451]
# test_cat = cats_d[213451:]

# # df_train = df_train.drop("age", axis=1)
# # df_test = df_test.drop("age", axis=1)

# df_train = pd.concat([df_train, train_cat], axis=1)
# df_test = pd.concat([df_test, test_cat], axis=1)

# # df_train.to_csv('df_train.csv', sep=',', na_rep='NaN', index = False)
# # df_test.to_csv('df_test.csv', sep=',', na_rep='NaN', index = False)

# sessions

In [42]:
sessions.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [86]:
group = sessions.groupby('user_id')['action', 'action_type'].agg(['count'])
print(len(group))

group.head(10)

135483

           action action_type
            count       count
user_id
00023iyk9l     39          37
0010k6l0om     63          48
001wyh0pz8     90          85
0028jgx1x1     31          31
002qnbzfs5    782         712
0031awlkjq      8           8
0035hobuyj    486         318
00378ocvlh     74          71
00389675gq    175         163
003iamz20l    163         157

In [ ]:
df_train = pd.read_csv("data/train_users_2.csv")
df_test = pd.read_csv("data/test_users.csv")
df_all = pd.concat([df_train, df_test])

In [79]:
df_all = df_all.merge(group, left_on='lkey', how = 'outer')
df_all.head()

TypeError: object of type 'NoneType' has no len()

# Logistic Regression

In [79]:
from sklearn import linear_model

In [80]:
model_log = linear_model.LogisticRegression(n_jobs=-1, random_state=0).fit(df_train, y_label)

# we create an instance of Neighbours Classifier and fit the data.
# model_log = logreg.fit(df_train, y_label)

In [62]:
# y_pred_log = model_log.predict(df_test)
# y_inverse_log = le.inverse_transform(y_pred_log)
# y_inverse_log
# df_sample['country'] = y_inverse_log
# df_sample = df_sample.reset_index(drop=True)
# df_sample.to_csv('sub_log.csv', sep=',', na_rep='NaN', index = False)
#0.69443 #1200/1460

In [63]:
#predict_proba
y_log1 = model_log.predict_proba(df_test)

ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_log1[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_log1.csv', sep=',', na_rep='NaN', index = False)
#0.85906
df_sample1.country.value_counts()

NDF      62096
other    62096
US       62096
FR       62096
IT       47471
ES        8161
GB        5900
DE         445
CA         119
Name: country, dtype: int64

# QDA / LDA

In [69]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [ ]:
qda = QuadraticDiscriminantAnalysis().fit(df_train, y_label)

In [ ]:
#predict_proba
y_qda1 = qda.predict_proba(df_test)

ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_qda1[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_qda1.csv', sep=',', na_rep='NaN', index = False)


df_sample1.country.value_counts()

In [ ]:
# y_qda = qda.predict(df_test)
# y_inverse_qda = le.inverse_transform(y_qda)
# y_inverse_qda

# df_sample['country'] = y_inverse_qda
# df_sample = df_sample.reset_index(drop=True)
# df_sample.to_csv('sub_qda.csv', sep=',', na_rep='NaN', index = False)
# #0.00289 #1300/1460

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [ ]:
lda = LinearDiscriminantAnalysis().fit(df_train, y_label)

In [ ]:
#predict_proba
y_lda1 = lda.predict_proba(df_test)

ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_lda1[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_lda1.csv', sep=',', na_rep='NaN', index = False)
#0.85654
df_sample1.country.value_counts()

In [ ]:
# y_lda = lda.predict(df_test)
# y_inverse_lda = le.inverse_transform(y_lda)
# y_inverse_lda

# df_sample['country'] = y_inverse_lda
# df_sample = df_sample.reset_index(drop=True)
# df_sample.to_csv('sub_lda.csv', sep=',', na_rep='NaN', index = False)
# #0.68756 #1210/1460

# Naive Bayesian

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
model_nb = MultinomialNB().fit(df_train, y_label)

In [ ]:
#predict_proba
y_nb1 = model_nb.predict_proba(df_test)

ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_lda1[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_nb1.csv', sep=',', na_rep='NaN', index = False)
#0.85654
df_sample1.country.value_counts()

In [ ]:
# y_nb = model_nb.predict(df_test)
# y_inverse_nb = le.inverse_transform(y_nb)
# y_inverse_nb

# df_sample['country'] = y_inverse_nb
# df_sample = df_sample.reset_index(drop=True)
# df_sample.to_csv('sub_nb.csv', sep=',', na_rep='NaN', index = False)
# #0.54326 #1260/1460

# Decision Tree

In [49]:
from sklearn.tree import DecisionTreeClassifier

In [58]:
#max_depth = 10 is the best score
model_tree1 = DecisionTreeClassifier(max_depth=4).fit(df_train, y_label)

In [59]:
#predict_proba
y_tree1 = model_tree1.predict_proba(df_test)

ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_tree1[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_tree1.csv', sep=',', na_rep='NaN', index = False)
#0.85856
df_sample1.country.value_counts()

NDF      62096
other    62096
US       62096
FR       62096
IT       61960
CA          70
NL          66
Name: country, dtype: int64

In [ ]:
# y_tree = tree1.predict(df_test)
# y_inverse_tree = le.inverse_transform(y_tree)
# y_inverse_tree

# df_sample['country'] = y_inverse_tree
# df_sample = df_sample.reset_index(drop=True)
# df_sample.to_csv('sub_tree.csv', sep=',', na_rep='NaN', index = False)
# #0.69341 #1200/1460

# randomforest

In [52]:
from sklearn import clone
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier

In [81]:
model_random = RandomForestClassifier(n_jobs=-1,max_depth=4, random_state=0).fit(df_train, y_label)

In [54]:
#predict_proba
y_random1 = model_random.predict_proba(df_test)

ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_random1[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_random1.csv', sep=',', na_rep='NaN', index = False)
#0.85346

In [ ]:
y_random = model_random.predict(df_test)
y_inverse_random = le.inverse_transform(y_random)
y_inverse_random

In [ ]:
df_sample['country'] = y_inverse_random
df_sample = df_sample.reset_index(drop=True)
df_sample.to_csv('sub_random.csv', sep=',', na_rep='NaN', index = False)
#0.67929 #1250/1460

In [ ]:
df_sample.country.value_counts()

# extratree

In [96]:
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
model_extra = ExtraTreesClassifier(n_jobs=-1, max_depth=4, random_state=0).fit(df_train, y_label)

In [ ]:
#predict_proba
y_extra1 = model_extra.predict_proba(df_test)

ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_extra1[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_extra1.csv', sep=',', na_rep='NaN', index = False)
#0.85359

# support vector machine

In [ ]:
from sklearn import svm

In [ ]:
# #kernel
# model_svm = svm.SVC(random_state=0, probability=True).fit(df_train, y_label)

In [ ]:
# #predict_proba
# y_svm = model_svm.predict_proba(df_test)

# ids = []  #list of ids
# cts = []  #list of countries
# for i in range(len(df_sample)):
#     idx = df_sample.iloc[i, 0]
#     ids += [idx] * 5
#     cts += le.inverse_transform(np.argsort(y_svm[i])[::-1])[:5].tolist()

# df_sample1 = pd.DataFrame(columns=['id', 'country'])
# df_sample1['id'] = ids
# df_sample1['country'] = cts
# df_sample1 = df_sample1.reset_index(drop=True)
# df_sample1.to_csv('sub_svm.csv', sep=',', na_rep='NaN', index = False)
# #0.85359

In [ ]:
# #linear
# model_svm1 = svm.SVC(random_state=0, kernel= 'linear', probability=True).fit(df_train, y_label)

In [ ]:
# #predict_proba
# y_svm1 = model_svm1.predict_proba(df_test)

# ids = []  #list of ids
# cts = []  #list of countries
# for i in range(len(df_sample)):
#     idx = df_sample.iloc[i, 0]
#     ids += [idx] * 5
#     cts += le.inverse_transform(np.argsort(y_svm1[i])[::-1])[:5].tolist()

# df_sample1 = pd.DataFrame(columns=['id', 'country'])
# df_sample1['id'] = ids
# df_sample1['country'] = cts
# df_sample1 = df_sample1.reset_index(drop=True)
# df_sample1.to_csv('sub_svm1.csv', sep=',', na_rep='NaN', index = False)
# #0.85359

# XGBoost

In [83]:
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from xgboost.sklearn import XGBClassifier

In [ ]:
model_xgb = xgb.XGBClassifier(max_depth=4 , n_jobs=-1, random_state=0).fit(df_train, y_label)

In [ ]:
#predict_proba
y_xgb1 = model_xgb.predict_proba(df_test)

ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_xgb1[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_xgb1.csv', sep=',', na_rep='NaN', index = False)
#0.85950 w/o age
#0.86442 with age
#0.85983 w/ dummy age

In [ ]:
dtrain = xgb.DMatrix(df_train, label = y_label)

In [ ]:
y_xgb = model_xgb.predict(df_test)
y_inverse_xgb = le.inverse_transform(y_xgb)
y_inverse_xgb

In [ ]:
df_sample['country'] = y_inverse_random
df_sample = df_sample.reset_index(drop=True)
df_sample.to_csv('sub_xgb.csv', sep=',', na_rep='NaN', index = False)
#0.67929 #1250/1460

In [ ]:
df_sample.country.value_counts()

# LightGBM

In [116]:
import lightgbm as lgb

In [117]:
model_lgb = lgb.LGBMClassifier(max_depth=10, random_state=0, n_jobs=-1).fit(df_train, y_label)

In [118]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [119]:
print(classification_report(y_label, y_vali))

             precision    recall  f1-score   support

          0       1.00      0.00      0.01       539
          1       1.00      0.00      0.00      1428
          2       1.00      0.01      0.01      1061
          3       1.00      0.00      0.00      2249
          4       1.00      0.00      0.00      5023
          5       0.00      0.00      0.00      2324
          6       1.00      0.00      0.00      2835
          7       0.66      0.87      0.75    124543
          8       1.00      0.00      0.01       762
          9       1.00      0.00      0.01       217
         10       0.48      0.36      0.41     62376
         11       1.00      0.00      0.00     10094

avg / total       0.64      0.62      0.56    213451

In [120]:
#predict_proba
y_lgb = model_lgb.predict_proba(df_test)



ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_lgb[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_lgb.csv', sep=',', na_rep='NaN', index = False)
#0.85932 w/o age
#0.86495 w/ age
!kaggle competitions submit -c airbnb-recruiting-new-user-bookings -f sub_lgb.csv -m "Message"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/jk/.kaggle/kaggle.json'
Successfully submitted to Airbnb New User Bookings

In [121]:
from sklearn import metrics
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model_lgb, df_train, y_label, cv=5, scoring='neg_log_loss')
scores

array([-3.55941958, -3.21434165, -2.83472077, -2.50144723, -1.46316028])

# ensemble methods

In [ ]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, VotingClassifier

clf1 = linear_model.LogisticRegression(n_jobs=-1, random_state=0)
clf2 = RandomForestClassifier(n_jobs=-1,max_depth=10, random_state=0)
clf3 = ExtraTreesClassifier(n_jobs=-1, max_depth=10, random_state=0)
clf4 = xgb.XGBClassifier(max_depth=4 , n_jobs=-1, random_state=0)
clf5 = lgb.LGBMClassifier(max_depth=10, random_state=0, n_jobs=-1)


# eclf1 = VotingClassifier(estimators=[('log', clf1), ('rf', clf2), ('ex', clf3), ('xgb', clf4), ('lgb', clf5)], voting='hard')
# eclf1 = eclf1.fit(df_train, y_label)
# y_ecl1 = eclf1.predict_proba(df_test)
# print(y_ecl1)

eclf2 = VotingClassifier(estimators=[('log', clf1), ('rf', clf2), ('ex', clf3), ('xgb', clf4), ('lgb', clf5)], voting='soft', weights=[1,1,1,1,3], n_jobs=-1)
eclf2 = eclf2.fit(df_train, y_label)
y_ecl2 = eclf2.predict_proba(df_test)
print(y_ecl2)


# eclf3 = VotingClassifier(estimators=[('log', clf1), ('rf', clf2), ('ex', clf3), ('xgb', clf4), ('lgb', clf5)], voting='soft', weights=[1,1,1,1,1])
# eclf3 = eclf3.fit(df_train, y_label)
# y_ecl3 = eclf3.predict_proba(df_test)
# print(y_ecl3)

In [ ]:
# ids = []  #list of ids
# cts = []  #list of countries
# for i in range(len(df_sample)):
#     idx = df_sample.iloc[i, 0]
#     ids += [idx] * 5
#     cts += le.inverse_transform(np.argsort(y_ecl1[i])[::-1])[:5].tolist()

# df_sample1 = pd.DataFrame(columns=['id', 'country'])
# df_sample1['id'] = ids
# df_sample1['country'] = cts
# df_sample1 = df_sample1.reset_index(drop=True)
# df_sample1.to_csv('sub_ecl1.csv', sep=',', na_rep='NaN', index = False)

In [ ]:
#predict_proba
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(df_sample)):
    idx = df_sample.iloc[i, 0]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(y_ecl2[i])[::-1])[:5].tolist()

df_sample1 = pd.DataFrame(columns=['id', 'country'])
df_sample1['id'] = ids
df_sample1['country'] = cts
df_sample1 = df_sample1.reset_index(drop=True)
df_sample1.to_csv('sub_ecl2.csv', sep=',', na_rep='NaN', index = False)

!kaggle competitions submit -c airbnb-recruiting-new-user-bookings -f sub_ecl2.csv -m "Message"

In [ ]:
# #predict_proba
# y_xgb1 = model_xgb.predict_proba(df_test)

# ids = []  #list of ids
# cts = []  #list of countries
# for i in range(len(df_sample)):
#     idx = df_sample.iloc[i, 0]
#     ids += [idx] * 5
#     cts += le.inverse_transform(np.argsort(y_ecl3[i])[::-1])[:5].tolist()

# df_sample1 = pd.DataFrame(columns=['id', 'country'])
# df_sample1['id'] = ids
# df_sample1['country'] = cts
# df_sample1 = df_sample1.reset_index(drop=True)
# df_sample1.to_csv('sub_ecl3.csv', sep=',', na_rep='NaN', index = False)